<!DOCTYPE html>
<html>

<%- include("../partials/header") %>

<body style="margin:0;background:#f5f6fa;">

<%- include("../partials/hospitalSidebar") %>

<div style="margin-left:230px;padding:30px;">

    <h1>Hospital Admin Dashboard</h1>

    <hr>

    <h3>Welcome</h3>

    <p>

        <strong>Name :</strong>

        <%= admin.name %>

    </p>

    <p>

        <strong>Hospital :</strong>

        <%= admin.hospital.name %>

    </p>

    <p>

        <strong>Role :</strong>

        <%= admin.role %>

    </p>

    <h3>Assigned Permissions</h3>

    <ul>

        <% admin.permissions.forEach(permission=>{ %>

            <li><%= permission %></li>

        <% }) %>

    </ul>

</div>

</body>

</html>